*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    min-height: 100vh;
    background-color: #131313;
    color: #fff;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game {
    margin: 100px auto 0;
    max-width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 3px;
    background-color: white;
}

.game__button {
    background-color: black;
    color: white;
    border: none;
    font-size: 30px;
}

.game__button_color_green {
    color: #1bff1b;
}

.game__button_color_blue {
    color: #67befc;
}

.game__button_color_red {
    color: red;
}

.game__refresh-button {
    margin: 50px auto 30px;
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
}

.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    max-width: 700px;
    max-height: 400px;
    border-radius: 5px;
    background-color: #ccc;
    color: #131313;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #adadad;
    cursor: pointer;
}

.popup__close:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 3px;
    border: 1px solid #adadad;
    width: 15px;
    height: 1px;
    transform: rotate(45deg);
}

.popup__close:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 3px;
    border: 1px solid #adadad;
    width: 15px;
    height: 1px;
    transform: rotate(-45deg);
}
